body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #000f28;
    background-image: url("../img/pattern.png");
}

nav{
    position: fixed;
    width: 70%;
    top: 100px;
    margin-left: 15%;
    height: 50px;
    background-color: #181f29;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-style: inherit;
}

nav ul li a {
    text-decoration:none;
    transition:1s;
    color: rebeccapurple;
}


nav ul li a:hover {
    color: mediumpurple;
}

header{
    text-align: center;
    position: fixed;
    height: 100px;
    background-color: #131a24;
    min-width: 500px;
    margin-left: 15%;
    width: 70%;
    font-size: 90px;
    color: #bbbbbb;
}

#aside1{
    color: #bbbbbb;
    float: left;
    width: 15%;
    background-color: #131a24;
    padding-top: 150px;
    text-align: center;
}

#aside1 img{
    float: left;
    width: 100%;
}

main{
    float: left;
    margin-top: 150px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    width: 70%;
    background-color: #282f39;
    text-align: center;
    min-height: 80vh;
    color: #bbbbbb;
}

#aside2{
    color: #bbbbbb;
    float: right;
    width: 15%;
    background-color: #131a24;
    text-align: center;
    padding-top: 150px;
}

#aside2 img{
    float: left;
    width: 100%;
}
